h3 {font-size: 50px;}
p  {font-size: 25px;}

form {
    width: 30%;
    margin: 5% auto;
    font-family: Arial;
}
input {
      width: 100%;
      margin: 8px 0;
      padding: 12px 20px;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #ccc;
}
input:focus {
    outline: none;
    border:1px solid #9c9a9a;
}
input[type=submit]:hover {
    background-color: #e3e3e3;
}