<form [formGroup]="employee">
    <br>Username: <input type="text" required name="email" formControlName="email"><br>
    <br>Password: <input type="password" required name="password" formControlName="password"><br>
    <br><input type="submit" value="Login" [disabled]="employee.invalid" (click)="onSubmit()">
</form>