.common {
    background: #3caa9f;
    position: relative;
    min-height: 100vh;
  }
  
  .viewdetails-modal .card{
    background: #f2f2f2;
  
  }
  .table-sec{
    background: #dad9d9;
    position: relative;
    min-height: 100vh;
  }
  .head-row{
    margin: 20px 0;
  }
  .table-row.table-responsive {
    border: 1px solid #777;
    border-radius: 10px;
  }
  .table-row.table-responsive tbody tr:last-child td{
    border:0
  }
  .text-warning{
    color: rgb(212, 117, 117);
    text-decoration: underline;
  }
  .text-bold{
    font-weight: 600;
    width: 120px;
  }