<div class="table-sec p-3">
    <div class="head-row d-flex justify-content-between">
        <h4>Post details</h4>
        <button class="btn btn-success" (click)="open('addEmloyee')">Add Emloyee</button>
    </div>
    <div class='table-row table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Emp No</th>
                    <th>Emloyee Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>
                       Action
                    </th>
                </tr>
            </thead>
            <tbody>
         
                 <tr>
                     <td>1</td>
                     <td>Pavithra</td>
                     <td>pavithra@gmil.com</td>
                     <td>123456789</td>
                     <td>
                         <span><button (click)="open('delete')">Edit</button></span>
                         <span><button (click)="open('delete')">Delete</button></span>
                     </td>
                 </tr>
               
            </tbody>
        </table>

    </div>
 </div>
    

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!-- <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Emloyee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class=" m-1">
                  <label>EmloyeeName</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="m-1">
                  <label>Email</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="m-1">
                  <label>Phone number</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="create()">Add Emloyee</button>
        </div>
      </div> -->


      <div class="modal-content" *ngIf="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Emloyee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class=" m-1">
                  <label>EmloyeeName</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="m-1">
                  <label>Email</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="m-1">
                  <label>Phone number</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePost()">Save changes</button>
        </div>
      </div>
    </div>
  </div>