
<form [formGroup]="employee">
    <br>emloyeeName: <input type="text" required name="email" formControlName="email"><br>
    <br>email: <input type="password" required name="password" formControlName="password"><br>
    <br>Password: <input type="password" required name="password" formControlName="password"><br>
    <br>phoneNo: <input type="password" required name="password" formControlName="password"><br>
    <br><input type="submit" value="Create" [disabled]="employee.invalid" (click)="onSubmit()">
</form>
